html{
    background: url(../images/tom.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}


.header-box, .login-box, .kidCalc-box{
    background-color: rgba(103, 89, 94, 0.8);
}

.login-input, .login-select{
    background-color: #D9D9D9;
}

.header-title, .login-title, #info-name, #info-score{
    color: white;
}

.calc-input, .ans-box{
    background-color: #D9D9D9;
}

.login-submit, .opr-butt, .check-butt, .clear-butt, .num-butt{
    background-color: #A49393;
    color: white;
}

.login-submit:hover, .opr-butt, .check-butt:hover, .clear-butt:hover, .num-butt:hover{
    background-color: #ccb8b8;
    color: white;
}

#t0{
    color: white;
}

#t1{
    color: white;
}

#t1:hover{
    color: rgb(201, 199, 199);
}

#t2{
    color: white;
}

#t2:hover{
    color: rgb(201, 199, 199);
}

#t3{
    color: #E8B4B8;
    font-weight: bolder;
}

#t4{
    color: white;
}

#t4:hover{
    color: rgb(201, 199, 199);
}